<div class="col-sm-12 col-md-12 col-lg-2 bg-secondary pt-lg-5">
    <div class="d-lg-block d-flex justify-content-around list-group-flush bg-secondary font-weight-bold">
        <a class="list-group-item bg-secondary border-0 rounded-pill text-decoration-none"
            href="/users/profile">Perfil</a>
        <a class="list-group-item bg-secondary border-0 rounded-pill text-decoration-none" href="/locals">Locales</a>
        <a class="list-group-item bg-secondary border-0 rounded-pill text-decoration-none" href="/products">Producto</a>
    </div>
</div>