<div class="bg-dark border-dark text-white pt-5" id="sidebar-wrapper">
    <div class="sidebar-heading">
    </div>
    <div class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
            <ion-icon name="search"></ion-icon> Buscar
        </a>
        {{#if user}}
        <a href="/users/profile" class="list-group-item list-group-item-action bg-dark text-white">
            <ion-icon name="person"></ion-icon> Perfil
        </a>
        <a href="/users/logout" class="list-group-item list-group-item-action bg-dark text-white">
            <ion-icon name="arrow-back"></ion-icon> Cerrar Sesion
        </a>
        {{else}}
        <a href="/" class="list-group-item list-group-item-action bg-dark text-white">
            <ion-icon name="home"></ion-icon> Iniciar Sesion
        </a>
        <a href="/users/signup" class="list-group-item list-group-item-action bg-dark text-white">
            <ion-icon name="arrow-round-forward"></ion-icon> Registrarse
        </a>
        {{/if}}
    </div>
</div>