<body
    style="background-image: url('../img/background.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center;">

    <div class="d-flex" id="wrapper">

        <!-- Sidebar -->
        {{> sidebar}}

        <!-- Contenido de pagina -->
        <div id="page-content-wrapper">

            <!-- navbar -->
            {{> navbar}}
            {{> mensajes}}
            {{> error}}

            <div class="container">
                <div class="row min-vh-100 d-flex align-content-center">

                    <div class="col-sm-12 col-md-1 col-lg-2 col-xl-3"></div>

                    <div class="col-sm-12 col-md-10 col-lg-8 col-xl-6">
                        <div class="bg-white shadow-lg rounded px-5 w-100 text-center">
                            <form class="form-group" action="/users/profile" method="POST">
                                <br><br>
                                <h2>Iniciar Sesion</h2>
                                <br>
                                <p>Usa tus credencail para acceder a tu perfil.</p>
                                <br>
                                <input class="form-control" type="email" placeholder="Correo..." name="correo">
                                <br>
                                <input class="form-control" type="password" placeholder="Contraseña..." name="pass">
                                <br><br>
                                <button class="btn btn-danger btn-lg rounded-pill text-white"
                                    style="width: 150px;">Iniciar Sesion</button>
                                <a href="/users/signup" class="btn btn-outline-danger btn-lg rounded-pill"
                                    style="width: 150px;">Registrarse</a>
                                <br><br><br>
                            </form>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-1 col-lg-2 col-xl-3"></div>

                </div>
            </div>
        </div>
        <!-- /Contenido de pagina -->

    </div>